
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Forum&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral+SC:wght@200;300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    /* font-family: 'Playfair Display', serif; */
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    text-decoration: none;
    
}

/* navigation bark here  */
header{
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 2%;
    position: fixed;
    z-index: 100;
    width: 100% ;
    height: 5rem;
    backdrop-filter: blur(30px);
    background-color: rgb(0, 0, 0, 0.3);
}
.navigation{
    color:#D6CC99;
    font-family: 'Alice', serif;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1rem 0.8rem;
    transition: .5s;

}
.a{
    color:#D6CC99;
    font-family: 'Alice', serif;
    font-weight: 500;
    margin: 0 0.8rem;
    transition: .5s;
    font-size: 1.5rem;
}
.navigation:hover{
    color: #445D48;
    text-decoration: underline;
    text-underline-offset: 8px;
}
#menu-icon{
    font-size: 3rem;
    color: #D6CC99;
    cursor: pointer;
    display: none;

}
.logo{
    margin-right: 15%;
}

:root{
    -one: #001524;
    -two: #445D48;
    -three: #D6CC99;
    -four: #FDE5D4;
}
html{
    overflow-x: hidden;
}
body{
    background: #001524;
    color: #D6CC99;
    text-align: center;
}
.me{
    height: 4rem;
}

/* home design  */

section{
    min-height: 100vh;
    max-height: 100vh;
    padding: 5rem 5% 0;
    scroll-snap-align: start;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('./images/wwwwwwwblurwithedit.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    background-position-y: 5rem;
    transition: all 1s ease-in-out;
}

.home:hover{
    background: url('./images/wwwwwwwwithedit.jpg') no-repeat ;
    background-size:cover;
    background-position: center;
    background-position-y: 5rem;
    transition:all 1s ease-in-out;
} 
.home-title{
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #d8d8d8;
    text-shadow: 3px 3px 5px black;

}   
@media screen and (max-width: 900px){
    html, body {
        overflow-x: hidden;
        }
    .home{
        background-size:cover ;
        background-position-y: 5rem;
        
    }
    .home:hover{
        background-size: cover;
        background-position-y: 5rem;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        z-index: 20;
        top:100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        left:-100%;
        width: 100%;
        padding: 1rem 4%; 
        background-color: rgb(0, 0, 0, 0.6);
        backdrop-filter: blur(30px);
        box-shadow: 0.5rem 0.6rem 10px rgb(0, 0, 0, 0.5);
        transition: 0.3s ease;
    }
    .down{
        left: 0;
    }
    .logo{
        margin-right: -15%;
    }
    .home-title{
        font-size: 3rem;
        padding: 5%;
        font-weight: 900;
    
    } 
    .a{
        margin: 0 0.3rem;
        transition: .5s;
        font-size: 1.5rem;
    }
}

.red{
    color: gold;
    text-shadow: 3px 3px 5px black;
}
.home-content{
    max-width: 60rem ;

}
.animatetxt p{
    font-weight: 300;
    color: gold;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    margin: 2%;
    text-shadow: 5px 3px 1px black;

}

.btn{
    position: fixed;
    line-height: 0cm;
    z-index: 100;
    margin: 3%;
    padding: 15px;
    font-size: 1.6rem;
    background-color: #FDE5D4;
    color: #001524;
    border-radius: 100%;
    border: 3px solid #FDE5D4;
    right: 0px;
    bottom: 0px;
    overflow:hidden;
    
}
.btn::before{
    content: "";
    position: absolute;
    background: #001524;
    border-radius: 100%;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    transition: .5s;

}
.btn:hover:before{
    height: 100%;
    width: 100%;

}
.btn:hover{
    color: #FDE5D4;
}


/* design of portfolio */

.portfolio-title{
    margin:1% 5% 0 ;
    font-size: 1rem;
    font-weight: 300;
    color: #001524;
    text-align: start;
}
.artboard{
    font-family: 'Spectral SC', serif;
    position: relative;
    display: inline-block;
    margin-top:1rem;
    padding: 2% 2% 2% 0;
    width: 80%;
    height: 600px;
    background-color: #d8d8d8;
    box-shadow: 5px 5px 50px black;
    border-radius: 20px;
    overflow-x: visible;
}
.container{
    position: relative;
    bottom: -10%;
    left: 0;
    width: 100vw;
    height: 400px;
    display:flex;
    flex-direction: row;
    gap: 3rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 40px;
    overscroll-behavior-x: contain;
    
}
.container::-webkit-scrollbar {
display: none;
}
.item{
    scroll-snap-align:start;
    scroll-padding: 40px;
    padding: 1px;
    flex-shrink: 0;
}
.item-end{
    width: 500px;
}
.item-s{
    width:100px;
}
.item > img{
    
    object-fit: cover;
    border-radius: 5px;
    height: 100%;
    
    
}
@media screen and (max-width: 900px){
    .artboard{
       
        padding: 2% 0 2% 0;
        width: 100%;
        height: 450px;
        top: 60px;
        border-radius: 15px;
    }
    .container{
        position: relative;
        bottom: 0;
        margin: 5% 0;
        left: 0;
        width: 100vw;
        height: 280px;
        display:flex;
        flex-direction: row;
        gap: 3rem;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-padding: 10px;
        overscroll-behavior-x: contain;
        
    }
    .item-s{
        width:30px;
    }
    .portfolio-title{
        margin:5% 0 0 5% ;
        font-size: 1rem;
        font-weight: 300;
        color: #001524;
        text-align: start;
    }

}

/* 
font-family: 'Alice', serif;
font-family: 'Forum', serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Spectral SC', serif; */
